:root {
    --cor-de-fundo: #1A1A1D;
    --cor-principal: #E0E0E0;
    --cor-secundaria: #AD49E1;
    --cor-vibrante: #6200EA;
    --cor-escurecer: #3700B3;
}

* {
    margin: 0%;
    padding: 0%;
}

main {
    margin: -5px 0 -5% 10%;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 50px 0 50px; 
}

.about-me h1 {
    font-size: 3.5em; 
    color: var(--cor-secundaria);
}

.about-content {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 60px;
}

.about-image {
    flex: 3;
    text-align: right;
}

.about-image img {
    border-radius: 48%;
}

.apresentacao {
    font-size: 1.5em;
    padding: 90px;
    text-align: justify;
}

@media screen and (orientation: portrait) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .about-me {
        flex-direction: column;
        padding: 5px;
    }

    .about-content {
        text-align: center;
    }

    .apresentacao{
        margin: 10px -80px;
    }
}
