@font-face {
    font-family: "Android";
    src: url("../fonts/idroid.otf") format("opentype");
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor-de-fundo: #1A1A1D;
    --cor-principal: #E0E0E0;
    --cor-secundaria: #AD49E1;
    --cor-vibrante: #6200EA;
    --cor-escurecer: #3700B3;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-Android: "Android"
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #83DFAB;
    font-family: var(--font-padrao);
}

header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: var(--cor-de-fundo);
    color: white;
    padding: 40px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
}

h2 {
    color: #1F603C;
    font-family: var(--fonte-Android);
    font-weight: normal;
}

.navbar {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    background: #1a1a1df8; /* Fundo semi-transparente */
    padding: 10px 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombreamento */
}

.navbar a {
    margin: 0 15px;
    color: var(--cor-principal); /* Texto claro */
    font-weight: bold;
    text-decoration: none;
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas nos links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--cor-vibrante); /* Roxo vibrante ao passar o mouse */
    color: #ffffff; /* Texto branco ao passar o mouse */
}


nav {
    background-color: var(--cor-de-fundo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav div a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav div a:hover {
    background-color: #38CA79;
    color: #1A5C38;
    border-radius: 5%;
}

.texto-apresentacao {
    padding-top: 10px;
    color: #7A1CAC;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em; 
    margin-bottom: 10px; 
    font-weight: bold;
}

.menu_botão {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 80%;
    margin: auto;
    padding:0px 10px 0px 10px;

}

h3 {
    background: linear-gradient(to right ,#C8ECD8, white);
    color: #1F603C;
    font-family: var(--fonte-Android);
    font-weight: normal;
}

main > p {
    text-indent: 30px;
    font-size: 1em;
}

main > p > a {
    text-decoration: none;
    color: #1A5C38;
    background-color: #83DFAB;
    padding: 0px 5px;
}

main > p > a:hover {
    text-decoration: underline;
    color: #288B54;
}

strong {
    font-weight: bold;
    color:#1A5C38;
}

.bugdroid {
    height: 30%;
    width: 30%;
    margin: auto;
}

iframe {
    width: 100%;
    height: 31.25em;
}

.evolucao {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #38CA79;
    padding: 10px;
    border-radius: 10px;
}

.evolucao > h4 {
    color: white;
    background-color: #1F603C;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    border-radius: 10px 10px 0 0px;
}

.evolucao > ul {
    list-style-position: inside;
    columns: 2;
}

p.final {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #288B54;
}

footer > p > a {
    color: #38CA79;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
    color: #83DFAB;
}


@media only screen and (max-width: 600px) {
    .imagem1 {
        content: url('../image android/dan-droids-pq.png');
    }

    .imagem2 {
        content: url("../image android/irina-blok-pq.jpg");
    }

    .bugdroid {
        height: 60%;
        width: 60%;
        margin: auto
    }

    nav a {
        display: block; /* Exibe links como blocos */
    }

    .menu_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }


    .menu_botão {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    .menu_botão img {
        height: auto;
        width: 28px;
        background-color: #313131e0;
    }

    .show {
        display: none;
    }

    .navbar {
        padding: 0%;
        margin: 0%;
    }

    .navbar p {
        font-size: 1.3em;
        padding: 20px;
    }

    .navbar a {
        display: block;
        text-align: center;
        padding: 25px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50%;
    }
    }