:root {
    --cor-de-fundo: #1A1A1D;
    --cor-principal: #E0E0E0;
    --cor-secundaria: #AD49E1;
    --cor-vibrante: #6200EA;
    --cor-escurecer: #3700B3;

    --font-principal: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-secundaria);
    color: var(--cor-principal); /* Texto claro */
    background-color: var(--cor-de-fundo); /* Fundo escuro */
    line-height: 1.6;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #313131e0; /* Fundo semi-transparente */
    padding: 10px 20px;
    border-radius: 0 0 20px 20px; /* Bordas arredondadas na parte inferior */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombreamento */
}

.menu_botão {
    display: none;
}

.navbar nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    margin: 0 15px;
    color: var(--cor-principal); /* Texto claro */
    font-weight: bold;
    text-decoration: none;
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas nos links */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--cor-vibrante); /* Roxo vibrante ao passar o mouse */
    color: #ffffff; /* Texto branco ao passar o mouse */

}

.texto-apresentacao {
    padding-top: 10px;
    color: #7A1CAC;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Seções */
main {
    margin-top: 90px;
}

/* Footer */
footer {
    margin-top: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #1E1E1E; /* Cinza escuro */
    color: #E0E0E0; /* Texto claro */
}

@media screen and (orientation: portrait) {
    main {
        margin-top: 20%;
    }

    .menu_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu_botão {
        display: flex;
        align-items: center;
    }

    .menu_botão img {
        height: auto;
        width: 25px;
        background-color: #313131e0;
    }



    .show {
        display: none;
    }

    .navbar p {
        font-size: 1.3em;
    }

    .navbar a {
        display: block;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50%;
    }
}
