body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

section {
    max-width: 800px;
    margin: 90px auto;
    padding: 90px;
    background: #533b53;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #b34deb;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #e9ecef;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: background 0.3s;
    color: #333;
}
li:hover {
    background: #d1d1d1;
}